.header__navBar {
  width: 100%;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__navBar a {
  margin: 10px;
  text-decoration: none;
}
.main-container {
  max-width: 70%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
