.header{
    position: sticky;
    display: flex;
    top: 0;
    z-index: 100;
    background-color: #131921;
    align-items: center;
}
.header__logo{
    width: 100px;
    margin: 18px 20px 0px;
}
.header__search{
    display: flex;
    flex: 1;
}
.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header__option{
    color: white;
}
.logo{
    width: 50px;
}
.header__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd904d;
}
.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}